.header_principal {
  padding: 20px;
  box-shadow: 4px 1px 6px #c1c1bd;
  position: relative;

  &__list {
    @include flex;
    text-align: center;
    & a {
      display: none;
    }
  }
  &__logo {
    width: 60%;
    @media (min-width: 767px) {
      width: 100%;
    }
  }
  &__list_menu {
    @include flex;
    text-align: center;
    & a {
      font-size: 20px;
      color: black;
      @media (min-width: 767px) {
        font-size: 50px;
        margin-right: 50px;
      }
    }
  }
}
