* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 15px 20px;
  box-shadow: 0px 5px 5px lightgrey;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  transition: opacity 1s, box-shadow 1s;
}
.button:hover {
  opacity: 0.75;
  box-shadow: 0px 10px 5px lightgrey;
}

.button_menu {
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 15px 40px;
  box-shadow: 0px 5px 5px lightgrey;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  transition: opacity 1s, box-shadow 1s;
}
.button_menu:hover {
  opacity: 0.75;
  box-shadow: 0px 10px 5px lightgrey;
}

.block_principal_menu {
  display: block;
  margin: auto;
  width: 94%;
  animation: slidefood 5s;
}
@media (min-width: 540px) {
  .block_principal_menu {
    width: 50%;
  }
}

.block_check {
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  width: 0;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
  color: white;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

@keyframes moveCircle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slidefood {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.header_principal {
  padding: 20px;
  box-shadow: 4px 1px 6px #c1c1bd;
  position: relative;
}
.header_principal ._list_header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header_principal ._list_header a {
  display: none;
}
.header_principal ._logo_header {
  width: 60%;
}
.header_principal ._list_header_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header_principal ._list_header_menu a {
  font-size: 20px;
  color: black;
}

.footer_principal {
  background-color: #323232;
  color: white;
  padding: 15px 0 30px 0;
}
.footer_principal ._logo {
  font-family: shrikhand;
  margin: 0 0 20px 20px;
  font-size: 17px;
}
.footer_principal ._p {
  display: flex;
  margin: 6px 20px;
  font-weight: 400;
  font-size: 15px;
}
.footer_principal ._p i {
  margin-right: 10px;
  font-size: 13px;
}

body {
  font-family: roboto, sans-serif;
}

.first_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  padding-bottom: 80px;
  text-align: center;
}
.first_section a {
  font-size: 18px;
}
.first_section .search_bar {
  padding: 20px 0;
  width: 100%;
  background-color: #eae9e9;
}
.first_section .search_text {
  border: none;
  background-color: #eae9e9;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.first_section .info_article_title {
  margin: 20px 0;
  padding: 0 40px;
  font-size: 30px;
}
.first_section .info_article_p {
  margin: 20px 0 50px 0;
  padding: 0 10px;
  font-weight: 300;
  font-size: 20px;
}

.fonctionement {
  margin: 50px 0;
}
.fonctionement_titre {
  margin: 30px 25px;
}

.btn_fonctionement_2 :hover {
  background-color: #f5edff;
  color: #9356dc;
}
.btn_fonctionement_2 :hover i {
  color: #9356dc;
}

.btn_fonctionement_2 ul {
  display: flex;
  align-items: center;
  margin: 20px 30px;
  box-shadow: 0px 0px 10px #cecece;
  padding: 20px;
  border-radius: 15px;
}
.btn_fonctionement_2 ul .btn_li_number {
  position: relative;
  left: -30px;
  background-color: #9356dc;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  font-weight: 300;
}
.btn_fonctionement_2 ul i {
  color: #999999;
}
.btn_fonctionement_2 ul li {
  margin-right: 10px;
  position: relative;
  left: -20px;
  font-weight: 600;
}

.restaurants {
  background-color: #f7f7f7;
  padding: 50px 0 40px 0;
}
.restaurants h2 {
  margin: 0 0 20px 20px;
  font-weight: 800;
}

.carte {
  margin: 20px 20px;
  box-shadow: #999999 0 0 10px;
  border-radius: 15px;
  position: relative;
}
.carte img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.img_new {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #99e2d0;
  padding: 5px 15px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  border-radius: 2px;
}

.block_carte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.block_like {
  font-size: 25px;
}
.block_like:active {
  background: linear-gradient(to top left, #9356dc, #ff79da);
}

footer {
  background-color: #323232;
  color: white;
  padding: 15px 0 30px 0;
}
footer_logo {
  font-family: shrikhand;
  margin: 0 0 20px 20px;
  font-size: 17px;
}
footer_p {
  display: flex;
  margin: 6px 20px;
  font-weight: 400;
  font-size: 15px;
}
footer_p i {
  margin-right: 10px;
  font-size: 13px;
}

body {
  font-family: roboto, sans-serif;
}

.img_header {
  background-image: url(images/resto_3.jpg);
  height: 250px;
  background-size: cover;
}

.container_menu {
  background-color: #f7f7f7;
}

.menu_entrees ._block_titre {
  box-sizing: border-box;
  padding: 20px 25px;
  margin-top: -36px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 10;
  background-color: #f6f6f6;
}
.menu_entrees ._block_titre ._titre_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Shrikhand;
  font-size: 20px;
}
.menu_entrees ._block_titre ._coeur_titre {
  font-size: 25px;
  cursor: pointer;
  position: relative;
}
.menu_entrees ._block_titre ._coeur_titre li {
  position: absolute;
  top: -15px;
  right: 5px;
}
.menu_entrees ._block_titre ._coeur_titre .fa-regular:hover {
  color: transparent;
  opacity: 0;
}
.menu_entrees ._block_titre ._coeur_titre .fa-solid {
  color: transparent;
  opacity: 0;
  transition: all 1500ms ease;
}
.menu_entrees ._block_titre ._coeur_titre .fa-solid:hover {
  opacity: 1;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.block_principal_menu ._titre {
  margin-top: 40px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 4px solid #99e2d0;
  width: 45px;
  margin-left: 5px;
}

.block_menu {
  box-shadow: 0px 0px 10px #cecece;
  margin: 15px 0px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block_menu:hover {
  overflow: hidden;
}
.block_menu:hover .block_check {
  width: 20%;
  transition: all 0.5s ease;
}
.block_menu:hover i {
  animation: moveCircle 1.25s;
}
.block_menu .block_menu_texte {
  width: 85%;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  line-height: 28px;
}
.block_menu .block_menu_texte h4 {
  font-size: 18px;
}
.block_menu .block_menu_texte p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.block_menu .block_menu_prix {
  position: relative;
  width: 15%;
}
.block_menu .block_menu_prix .euros {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 44%;
}
.block_menu .block_menu_prix span {
  font-weight: bold;
}

.btn_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

/*# sourceMappingURL=style.css.map */
